// Generic
$primary-color: #0074bd;
$alt-color: #74c4f7;
$dark-color: #1a17171e;
$light-color: #fff;
$bleue-color :  #042031;
$gutter: 2rem;
$color-btn-over: #068bdf;
$color-jensen: #023352;
$color-kane: #808080;
$color-plieuse1: #420a0a;
$color-plieuse2: #2c2855;

// counter
$color-counter-start: #f10928;
$color-counter-init: #0c570ce5;
$color-counter-progressBar-start: #1a0707;

// Global
$global-font: 'Roboto', sans-serif;
$global-font-weight: 300;

// Title
$title-font: 'Oswald', sans-serif;
$title-font-weight: 500;
$title-color: #000;

// Post
$prod-text-color: #666;
$prod-hover-color: #f7f7f7;