# VITE_API_URL=https://dummyjson.com
VITE_API_URL=http://localhost:3000  # Environnement local/prod
# BASE_URL=https://63e1-88-122-222-84.ngrok-free.app


NODE_ENV=development
# FRONTEND_URL=http://localhost:5173/Kalhyge-prod/

# VITE_BASE_URL=/Kalhyge-prod/