# URL de l’API backend
# Décommenter et adapter selon l’environnement

# Pour développement local
# VITE_API_URL=http://localhost:3000

# Pour production
# VITE_API_URL=https://api-kalhygee.onrender.com

# Base path si l’application est hébergée dans un sous-dossier (comme sur Surge)

# Pour développement local
# VITE_BASE_URL=/

# Pour production
# VITE_BASE_URL=/Kalhyge-prod/

# Mode d’exécution (ne pas oublier de modifier dans chaque fichier .env)
NODE_ENV=development